/* Общие стили страниц*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 960px;
  padding: 0;

  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  color: black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  display: block;
  width: 140px;
  padding: 10px 0;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: white;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
}

.visually-hidden:not(:focus):not(:active),
input[type=radio].visually-hidden,
input[type=checkbox].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

@font-face {
  font-weight: normal;
  font-size: 16px;
  font-family: "cuprumitalic";

  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
  url("../fonts/cuprumitalic.woff") format("woff");
}

/*-----------*/

/*Шапка сайта*/


.main-header {
  width: 100%;
  margin-bottom: 23px;
  padding-bottom: 60px;

  color: #32425c;

  background-color: #f3f7f9;
}


/*    Верхнее меню        */


.header-top,
.top-menu {
  display: flex;
  height: 42px;
  margin-bottom: 45px;

  background-color: #293449;
}

.header-top-container {
  display: flex;
}

.main-header-logo {
  flex-shrink: 0;
  box-sizing: content-box;
  width: 220px;
  height: 42px;

  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.main-header-logo img {
  position: relative;
  top: 13px;
  left: 25%;
}

.search-field {
  position: relative;

  display: flex;
}

.top-menu input[type=search] {
  width: 270px;
  height: 42px;
  padding-left: 49px;

  border: none;
  outline: none;
}

.top-menu a:hover svg,
.top-menu a:focus svg,
.search-field:hover svg {
  fill: white;
}

.top-menu a,
.top-menu input[type=search],
.top-menu input[type=search]::placeholder,
.site-navigation a {
  vertical-align: middle;
  color: white;

  background-color: #293449;
}



.btn-search {
  position: absolute;
  left: 3px;

  width: 45px;
  height: 42px;

  background-color: transparent;
  border: none;
}

.top-menu input[type=search]:focus ~ .btn-search > svg {
  fill: #f0525d;
}

.top-menu input[type=search]:focus,
.top-menu input[type=search]:focus::placeholder,
input[type=search]:focus ~ .btn-search {
  color: black;

  background-color: white;
  border: none;
}

.top-menu a {
  position: relative;

  display: block;
  width: 150px;
  padding: 12px;
  padding-left: 30px;

  text-align: center;
}


.btn:hover,
.btn:focus,
.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}

.btn:active,
.main-header-logo:active {
  background-color: #ba2732;
}



.top-menu,
.site-navigation {
  font-size: 17px;
  line-height: 18px;
}

.top-menu .btn-make-order {
  padding: 10px 0;
  padding-top: 12px;

  font-size: 17px;
  line-height: 18px;
  text-transform: none;

  background-color: #63a63e;
  border-radius: 0;
}

.top-menu svg {
  position: absolute;
  top: 12px;
  left: 17px;

  fill: rgba(255, 255, 255, 0.3);
}

.search-field svg {
  left: 14px;
}


.top-menu a:hover,
.top-menu a:focus {
  background-color: #212a3a;
}

.top-menu .btn-make-order:hover,
.top-menu .btn-make-order:focus {
  background-color: #5fbb2d;
}

.top-menu a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #161d29;
}

.top-menu .btn-make-order:active {
  background-color: #518534;
}

.top-menu a:active svg {
  fill: #6a7180;
}

.top-menu .cart-full {
  background-color: #ee3643;
}

.top-menu .cart-full svg {
  fill: rgba(255, 255, 255, 0.6);
}

/* Средняя часть шапки  */

.header-middle .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 45px;
}

.page-header {
  flex-shrink: 0;
  width: 320px;
  margin: 0;
  margin-top: 5px;
  padding-right: 50px;
  padding-left: 53px;

  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  font-family: "cuprumitalic", "Cuprum", Arial;
  color: #ee3643;
  letter-spacing: 0;
}

.header-contacts {
  margin-top: 0;
  margin-right: 50px;

  font-size: 14px;
  line-height: 27px;
  text-align: center;
  color: #32425c;
}

.header-contacts a {
  position: relative;

  display: block;
  width: 270px;

  font-weight: bold;
  font-size: 21px;
  line-height: 40px;
  text-align: center;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-contacts img {
  position: absolute;
  top: 10px;
  left: 10px;
}

.site-navigation,
.user-navigation {
  padding-left: 0;

  list-style: none;
}

.user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: content-box;
  width: 300px;
}


.login-link {
  font-size: 21px;
  text-align: center;
  color: black;
}

.link-sign-in {
  width: 120px;
  margin-right: 10px;
  margin-left: 20px;
}

.link-sign-in svg {
  position: relative;
  top: 1px;
  right: 5px;
}

.link-sign-up {
  width: 150px;
}

.login-link a {
  display: block;
  padding: 10px 10px;

  text-align: center;
  color: black;

  background-color: white;
}

.login-link svg {
  fill: #c5c5c5;
}


.login-link a:hover,
.profile-navigation a:hover {
  color: #ee3643;
}

.login-link:hover svg,
.logged-in:hover svg {
  fill: black;
}

.logged-in a {
  position: relative;

  width: 195px;
  padding: 10px 0;
  padding-left: 45px;
}

.logged-in svg {
  position: absolute;
  top: 12px;
  left: 12px;
}

.logged-in a:hover {
  color: black;
}

.log-off a {
  position: relative;

  width: 40px;
}

.login-link a:active,
.profile-navigation a:active {
  color: rgba(0, 0, 0, 0.302);
}

.login-link a:active svg {
  fill: rgba(0, 0, 0, 0.302);
}


.profile-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 13px;
  padding-left: 0;

  list-style: none;
  font-size: 16px;
  text-decoration: underline;
}

.profile-link a {
  position: relative;

  margin-right: 30px;
}

.profile-link:not(:last-child) a::after {
  content: "";
  position: absolute;
  right: -15px;
  bottom: 8px;

  display: block;
  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}


/* Главная навигация   */

.site-navigation {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 0;
}


.site-navigation a {
  display: block;
  box-sizing: content-box;
  min-width: 120px;
  padding: 18px 7px ;

  text-align: center;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
  border-bottom-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #1d2739;
  border-bottom-color: #1d2739;
}



/* Стили для основного контента сайта */

/*Хлебные крошки */

.breadcrumbs {
  font-size: 13px;
  line-height: 60px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.breadcrumbs ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0;

  list-style: none;
}

.breadcrumbs a {
  position: relative;

  color: black;
}

.breadcrumbs svg {
  margin: 0 15px;

  vertical-align: baseline;
}

.homepage svg {
  margin: 0;
}


/* Промо-блок   Главная страница*/

.promo {
  margin-top: 60px;
}

.promo-features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.promo-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.promo-features-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 50px;
  margin-left: 20px;
}

.promo-features-side .promo-item,
.slider {
  margin: 10px 0;
}

.promo-item {
  position: relative;

  width: 300px;
  height: 123px;
  padding-left: 20px;

  background-repeat: no-repeat;;
}


.promo-materials {
  background-color: #ffbf47;
  background-image: url("../img/svg/icon-materials.svg");
  background-position: 210px 31px;
  background-size: 44px 65px;
}

.promo-instruments {
  background-color: #3bbce3;
  background-image: url("../img/svg/icon-instruments.svg");
  background-position: 196px 33px;
  background-size: 75px 61px;
}

.promo-tech {
  background-color: #dc91d8;
  background-image: url("../img/svg/icon-tech.svg");
  background-position: 189px 30px;
  background-size: 78px 62px;
}

.promo-sale {
  background-color: #8ed78f;
  background-image: url("../img/svg/icon-sale.svg");
  background-position: 195px 26px;
  background-size: 59px 72px;
}

.promo-delivery {
  background-color: #ffbf47;
  background-image: url("../img/svg/icon-delivery.svg");
  background-position: 191px 32px;
  background-size: 78px 63px;
}

.promo-item h2 {
  margin-bottom: 15px;

  font-size: 24px;
  line-height: 30px;
  color: white;
}

.promo-item .btn-promo {
  width: 135px;

  background-color: rgba(0, 0, 0, 0.1);
}

.btn-promo:hover,
.btn-promo:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-promo:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider-btn {
  background-color: transparent;
  border: none;
}

.slides {
  padding-left: 0;

  list-style: none;
}

.slider {
  position: relative;

  width: 620px;
  max-height: 266px;
}

.slider-btn {
  position: absolute;
  top: 125px;
}

.slider-btn-back {
  left: 20px;
}

.slider-btn-next {
  right: 20px;
}

.slider-content {
  margin: 0;
}

.slider-content figcaption {
  position: absolute;
  top: 0;
  left: 0;

  padding-left: 0;

  color: white;
}


.slider-content {
  display: none;
}

.slider-content-current {
  display: block;
}

.slider-content h2 {
  position: absolute;
  top: 0;
  left: 25px;

  font-size: 36px;
  line-height: 36px;
  color: white;
  text-transform: uppercase;
}

.slider-content p {
  position: absolute;
  top: 50px;
  left: 25px;

  width: 300px;

  font-size: 18px;
  line-height: 24px;
}

.slider-content .btn {
  position: absolute;
  top: 215px;
  left: 25px;

  width: 185px;
}

.slider-indicators {
  position: absolute;
  top: 233px;
  left: 300px;

  display: flex;
}

.slider-indicator {
  left: 30px;

  display: block;
  box-sizing: content-box;
  width: 6px;
  height: 6px;
  margin-right: 10px;

  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
}

.slider-indicator-active {
  background-color: #ee3643;
}
/* Главная страница - блок популярных товаров и брендов*/

.header-popular,
.current-product {
  margin-bottom: 20px;
  padding: 16px 30px;
}

.header-popular {
  display: flex;
  justify-content: space-between;

  background-color: #f9f5f0;
}

.header-popular h2,
.current-product {
  padding-top: 5px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.header-popular .btn {
  width: 250px;
}


.header-popular .btn {
  display: block;
  height: 40px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.popular-brands-list,
.services-toggle {
  list-style: none;
}

.popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
}

.popular-brands-item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 140px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #ebebeb;
}

.popular-brands-item:nth-child(4n) {
  margin-right: 0;
}

.popular-brands-item:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.popular-brands-item:active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.current-product {
  padding: 30px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}


/* Стили для каталога и блока популярных товаров*/




.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;

  list-style: none;
}

.catalog-list h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 30px;

  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
}

.catalog-item-product a {
  color: black;
}

.catalog-item {
  position: relative;

  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;

  font-weight: bold;
  text-align: center;

  border: 1px solid #e5e5e5;
}

.catalog-item .flag,
.promo-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;

  width: 60px;
  height: 60px;
  overflow: hidden;

  text-indent: -1000px;
}

.promo-item .flag {
  top: 0;
  right: 0;
}

.catalog-item .flag-new,
.promo-item .flag-new {
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.catalog-index .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.price-old,
.price-current {
  margin: 10px auto;
  padding: 10px 30px;

  font-size: 17px;
  line-height: 18px;
  font-family: "PT sans", Arial, sans-serif;
  text-transform: uppercase;
}

.price-old {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #a9a9a9;
  text-decoration: line-through;
}

.price-current {
  position: relative;

  width: 140px;
  margin-bottom: 20px;
  padding-left: 25px;

  color: white;

  background-color: #ee3643;
  border-radius: 3px;
}

.price-current::after {
  content: "";
  position: absolute;
  top: 0;
  right: -19px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.no-discount  .price-current {
  margin-top: 62px;
}

.btn-buy,
.btn-bookmark {
  position: absolute;
  left: 40px;
  z-index: 10;

  display: none;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
}

.catalog-item:hover > .actions,
.catalog-item:hover .btn-bookmark,
.catalog-item:hover .btn-buy {
  display: block;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.actions {
  position: absolute;
  z-index: 10;

  display: none;
  width: 100%;
  height: 40%;
  padding: 40px 0;

  background-color: white;
}

/*....*/

.catalog-list .btn {
  width: 130px;
}

.btn-buy {
  top: 30px;

  color: white;

  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  border-radius: 3px;
}

.btn-bookmark {
  top: 75px;

  color: black;

  background-color: white;
  border: 3px solid #64a63f;
  border-radius: 3px;
}

a:hover.btn-buy,
a:focus.btn-buy {
  background-color: #5fbb2d;
}

a:hover.btn-bookmark,
a:focus.btn-bookmark {
  color: #32425c;

  background-color: white;
  border-color: #32425c;
}

a:active.btn-buy {
  background-color: #518534;
  border-bottom-color: #518534;
}

a:active.btn-bookmark {
  color: rgba(50, 66, 92, 0.3);

  border-color: rgba(50, 66, 92, 0.3);
}



/* Фильтр на странице каталога */


.filters-catalog-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sort-catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 700px;
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 700px;
}

.sort-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding-top: 10px;
  padding-left: 0;
}

.sort h3 {
  width: 150px;
  margin: 0;
  margin-right: 90px;
  padding: 10px 20px;
}


.sort-option {
  display: block;
}

.sort-option a {
  display: block;
  margin: 0 33px;

  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.sort-option:first-child a {
  margin-left: 0;
}


.sort-option-how {
  position: relative;
  left: 15px;

  display: block;
  width: 35px;

  font-size: 0;
}

.sort-option-how svg {
  position: absolute;
  top: 2px;

  fill: rgba(0, 0, 0, 0.3);
}

.sort-current a,
.sort-current svg {
  color: #ee3643;

  fill: #ee3643;
}

.sort-option a:hover,
.sort-option a:focus {
  color: black;

  border-bottom-style: solid;
}
.sort-current a,
.sort-current a:hover,
.sort-current a:focus {
  border: none;
}


.sort-option-how svg:hover,
.sort-option-how a:focus > svg {
  fill: black;
}

.catalog-list-inner {
  padding-top: 50px;
  padding-left: 20px;
}

.catalog-list-inner .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.filters {
  display: flex;
  flex-direction: row;
  width: 220px;
}

.filters-type {
  display: block;
  width: 100%;
  padding: 10px 20px;

  font-weight: normal;
}

.filters-label {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter-option {
  margin-bottom: 15px;

  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filters-input ~ label {
  position: relative;

  padding-left: 35px;
}

.filters-input ~ label::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;

  width: 30px;
  height: 40px;

  background-repeat: no-repeat;
  background-position: 0 8px;
}

.filters-input-checkbox ~ label::before {
  background-image: url("../img/svg/checkbox-off.svg");
}

.filters-input-checkbox:checked ~ label::before {
  background-image: url("../img/svg/checkbox-on.svg");
}

.filters-input-radio ~ label::before {
  background-image: url("../img/svg/radio-off.svg");
}

.filters-input-radio:checked ~ label::before {
  background-image: url("../img/svg/radio-on.svg");
}

.filters-input:focus ~ label {
  outline: 1px solid #ee3643;
}

.filters-input:disabled ~ label {
  color: rgba(0, 0, 0, 0.4);
}

.filters form {
  margin-right: 5px;
}

.filters fieldset {
  padding-left: 0;

  border: none;
}

.brands-filter legend {
  padding-top: 15px;
}

.brands-filter {
  position: relative;

  width: 220px;
  padding-bottom: 20px;
}

.brands-filter::before,
.brands-filter::after {
  content: "";
  position: absolute;

  display: block;
  width: 220px;
  height: 1px;

  background-color: #e5e5e5;
}

.brands-filter::before {
  top: 0;
}

.sort-list,
.filters-list {
  padding-left: 0;

  list-style: none;
}

.filters-type,
.sort h3,
.sort-option {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter-price-range {
  position: relative;

  width: 220px;
  height: 80px;
  margin-bottom: 10px;
}

.price-range-current {
  position: absolute;
  top: 39px;
  left: 39px;

  box-sizing: padding-box;
  width: 120px;
  height: 3px;

  background-color: #00ca74;
}

.price-range-current::before,
.price-range-current::after {
  content: "";
  position: absolute;

  display: block;
  width: 20px;
  height: 23px;

  background-image: url("../img/svg/filter-button.svg");
}

.price-range-current::before {
  top: -10px;
  left: -20px;
}

.price-range-current::after {
  top: -10px;
  right: -20px;
}

.price-range-out {
  position: relative;
  top: 39px;
  left: 180px;

  width: 20px;
  height: 3px;

  background-color: #d7dcde;
}

.sort,
.filter-price-range,
.price-value {
  background-color: #f7f3ec;
}

.price-value {
  width: 95px;
  margin-bottom: 20px;
  padding: 10px 0;

  text-align: center;

  border: none;
  border-radius: 3px;
}

.min-price {
  position: relative;
}

.filters span {
  margin: 0 4px;
  margin-right: 5px;

  font-size: 16px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
}


.btn-submit,
.pagination-item {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: black;

  background-color: white;
  border: 1px solid #e5e5e5;
}

.btn-submit {
  width: 140px;
  margin-top: 110px;

  outline: none;
}

.pagination-list {
  position: relative;
  left: 360px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 60px;

  list-style: none;
}

.pagination-item:hover,
.pagination-item:focus,
.pagination-item:active {
  color: black;
}

.pagination-item {
  width: 38px;
  margin-right: 10px;
  padding: 9px 0;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item-current {
  color: white;

  background-color: #ee3744;
}

.pagination-item-next {
  width: 140px;
}


.btn-submit:hover,
.pagination-item:hover,
.btn-submit:focus,
.pagination-item:focus {
  background-color: white;
  border-color: #bdc6ca;
}

.btn-submit:active,
.pagination-item:active {
  color: black;

  border-color: #ee3744;
}


/*Сервисы, О продукте, О компании*/
.services h2 {
  padding-top: 65px;
}

.services-promo {
  width: 370px;
  margin-bottom: 40px;
}

.services-toggle {
  position: relative;

  width: 240px;
  margin-right: 70px;
  padding: 35px 0;
  padding-bottom: 100px;
}

.services-toggle::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 10px;
  height: 272px;

  background-image: url("../img/services-shadow.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.services-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 80px;
}

.service-item {
  width: 700px;
  padding-top: 0;

  background-repeat: no-repeat;
}

.service-item-delivery {
  background-image: url("../img/delivery.png");
  background-position: 150px 0;
}

.service-item-delivery p {
  width: 249px;
}

.service-item-warranty {
  background-image: url("../img/guarantee.png");
  background-position: 150px 0;
}

.service-item-warranty p {
  width: 340px;
}

.service-item-credit {
  background-image: url("../img/credit.png");
  background-position: 150px 0;
}

.service-item-credit p {
  margin-bottom: 30px;
}

.service-item-credit .btn {
  display: block;
  width: 195px;
}


.service-item {
  display: none;
}

.service-item-current {
  display: block;
}

.btn-services {
  width: 240px;
  padding: 15px 20px;

  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: white;

  background-color: #32425c;
  border-top: 1px solid #405069;
  border-right: none;
  border-bottom: 1px solid #293449;
  border-left: none;
}

.btn-services:hover {
  color: white;

  background-color: #293449;
}

.btn-services-current {
  color: #32425c;

  background-color: white;
  border: none;
}

.services p,
.index-columns p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans" Arial, sans-serif;
}



.services,
.about-product {
  background-color: #f4f7f9;
}

.about-product-container {
  padding-top: 60px;
  padding-bottom: 70px;
  padding-left: 0;
}

.about-product {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.services h2,
.index-columns h2,
.about-product h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: black;
  text-transform: uppercase;
}

.services h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services-list {
  list-style: none;
}

.index-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 52px;
  padding-bottom: 85px;
}

.about-us {
  flex-shrink: 0;
  width: 520px;
}

.about-us p {
  margin-bottom: 18px;
}

.about-us .btn {
  width: 220px;
}

.delivery-company-list {
  margin-bottom: 65px;

  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.delivery-company-list li {
  position: relative;

  margin-bottom: 20px;
}


.delivery-company-list li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -40px;

  display: block;
  width: 25px;
  height: 2px;

  background-color: #ee3643;
}


.contacts {
  flex-shrink: 0;
  width: 300px;
  margin-left: 180px;
  padding-right: 0;
}

.contacts p {
  width: 180px;
  margin-bottom: 35px;
}

.contacts .btn {
  width: 300px;
  margin-top: 40px;
}

.about-us-delivery {
  width: 390px;
  margin-top: 0;
}

.modal .btn,
.contacts .btn {
  border: none;
}



/*Стили для подвала*/

/*Подвал - верх*/


.main-footer {
  background-color: #32425c;
}

.footer-top .container {
  display: flex;
  flex-direction: row;
  min-height: 193px;
  padding-left: 0;
}

.main-footer-logo {
  display: block;
  box-sizing: content-box;
  width: 220px;
  height: 63px;
  margin-bottom: 30px;

  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}


.main-footer-logo img {
  position: relative;
  top: 21px;
  left: 25%;
}

.footer-contacts {
  width: 330px;
  margin-top: 0;
  margin-right: 60px;
}

.footer-site-navigation,
.footer-store-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 610px;
  margin-right: 0;
  padding-top: 20px;

  list-style: none;
}



.footer-store-navigation a,
.footer-site-navigation a {
  display: block;
  margin-right: 60px;
}

.footer-store-navigation li:last-child,
.footer-site-navigation li:last-child {
  margin-right: 0;
}

.footer-top a,
.footer-top p {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #f1f5f7;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
  background-color: #ca2c37;
}

.main-footer-logo:active {
  background-color: #ba2732;
}

.footer-store-navigation a {
  color: #e0ba79;
}


.main-footer a:hover {
  text-decoration: underline;
}

.footer-store-navigation a:active,
.footer-site-navigation a:active {
  opacity: 0.5;
}




/* Подвал - низ*/

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: white;

  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 35px;
  padding-bottom: 20px;
  padding-left: 0;
}

.footer-copyright {
  flex-shrink: 0;
  width: 230px;
}

.footer-social ul {
  display: flex;
  flex-direction: row;

  list-style: none;
}

.social-btn {
  position: relative;

  display: block;
  width: 40px;
  height: 40px;
  margin-right: 5px;

  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}

.social-btn-vk {
  margin-left: 155px;

  background-image: url("../img/svg/vk-icon.svg");
}

.social-btn-fb {
  background-image: url("../img/svg/fb-icon.svg");
}

.social-btn-inst {
  margin-right: 130px;

  background-image: url("../img/svg/insta-icon.svg");
}

.copyright-link:not(:last-child) {
  width: 140px;
  margin-right: 60px;

  color: white;
}


.copyright-link a {
  color: #e0ba79;
}

.copyright-link a:active {
  color: #ee3643;
  text-decoration: none;
}


/*Модальные окна*/
.modal {
  position: fixed;
  z-index: 30;
}

.modal-close {
  background-color: transparent;
  border: none;
}

/*Обратная связь*/

.write-us {
  bottom: 200px;
  left: 50%;

  display: none;
  width: 620px;
  height: 420px;
  margin-left: -290px;

  background-color: white;
  border-top: 5px solid #ee3643;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.75);
}

.write-us-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 37px 80px;
}

.modal-close {
  position: absolute;
  top: 6px;
  right: 8px;
  z-index: 3;

  width: 27px;
  height: 27px;

  font-size: 0;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;

  display: block;
  width: 25px;
  height: 4px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.write-us form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.half-width {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 220px;
  margin-bottom: 15px;
}

.write-us-letter {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.write-us label {
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 18px;
}

.write-us input,
.write-us textarea {
  padding: 10px 15px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #a9a9a9;

  border: 2px solid #dee3e4;
  border-radius: 3px;
  outline: none;
}

.write-us input:hover,
.write-us textarea:hover {
  border-color: #b5b5b5;
}

.write-us input:focus,
.write-us textarea:focus {
  border-color: #ee3643;
}

.write-us input[type=text] {
  text-transform: capitalize;
}

.write-us textarea {
  width: 460px;
  height: 115px;
  margin-bottom: 35px;

  resize: none;
}

.write-us-bottom {
  width: 100%;
  height: 112px;
  padding: 37px 80px;

  background-color: #f4f4f4;
}

.write-us-bottom .btn {
  width: 100%;
}


/*Карта*/

.modal-map {
  top: 50%;
  left: 50%;

  display: none;
  width: 940px;
  height: 446px;
  margin-top: -223px;
  margin-left: -490px;

  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-cart {
  top: 300px;
  left: 333px;

  display: none;
  width: 620px;
  height: 275px;
  padding: 0;

  background-color: white;
  border-top: 5px solid #ee3643;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-cart-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 37px 80px;

  font-size: 30px;
  line-height: 30px;
}

.modal-cart-message svg {
  margin-right: 30px;
}

.modal-cart-message span {
  padding-top: 15px;
}

.modal-cart-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 112px;
  padding: 37px 80px;

  background-color: #f1f1f1;
}

.modal-cart-bottom .btn {
  width: 220px;
}

.btn-keep-shopping {
  color: black;

  background-color: white;
}

.btn-keep-shopping:hover,
.btn-keep-shopping:focus,
.btn-keep-shopping:active {
  color: white;

  outline: none;
}

.cart-show-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes fade-in {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.show-me {
  display: block;

  animation: fade-in 0.25s;
}

.modal-error {
  animation: shake 0.4s;
}
