/* Общие стили страниц*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



body {
  padding: 0px;
  min-width: 960px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  color: black;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 960px;
  padding: 0px 10px;
  margin: 0 auto;
}

.btn {
  background-color: #ee3643;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  border-radius: 3px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*-----------*/

/*Шапка сайта*/


 .main-header {
  padding-bottom: 60px;
  margin-bottom: 23px;
  width: 100%;
  background-color: #f3f7f9;
  color: #32425c;
}


/*    Верхнее меню        */


.header-top,
.top-menu {
display: flex;
height: 40px;
background-color: #293449;
margin-bottom: 47px;
}

.header-top-container {
  display: flex;

}

.main-header-logo {
  height: 40px;
  width: 220px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  box-sizing: content-box;
  flex-shrink: 0;
}

.main-header-logo img {
  position: relative;
  top: 11px;
  left: 25%;
}

.search-field {
  position: relative;
  display: flex;
}

.top-menu input[type=search] {
  width: 270px;
  height: 40px;
  padding-left: 45px;
  border: none;
  outline: none;
}

.top-menu a:hover svg,
.top-menu a:focus svg,
.search-field:hover svg {
  fill: white;
}

.top-menu a,
.top-menu input[type=search],
.top-menu input[type=search]::placeholder,
.site-navigation a {
  vertical-align: middle;
  color: white;
  background-color: #293449;
}



.btn-search {
  position: absolute;
  left: 0px;
  width: 45px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.top-menu input[type=search]:focus ~ .btn-search>svg {
  fill: #f0525d;
}

.top-menu input[type=search]:focus,
.top-menu input[type=search]:focus::placeholder,
input[type=search]:focus ~ .btn-search {
  background-color: white;
  color: black;
  border: none;
}

.top-menu a {
  display: block;
  min-width: 150px;
  vertical-align: middle;
  padding: 10px 25px;
}



.btn:hover,
.btn:focus,
.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}

.btn:active,
.main-header-logo:active {
  background-color: #ba2732;
}



.top-menu,
.site-navigation {
  font-size: 17px;
  line-height: 18px;
}

.top-menu .btn-make-order {
  background-color: #63a63e;
  border-radius: 0;
}

.top-menu a svg,
.search-field svg {
  fill: #6a7180;
  position: relative;
  left: -10px;
  top: 2px;
}

.search-field svg {
  left: 0px;
}

.top-menu a:hover,
.top-menu a:focus {
  background-color: #212a3a;
}

.top-menu .btn-make-order:hover,
.top-menu .btn-make-order:focus {
  background-color: #5fbb2d;
}



.top-menu a:active
{
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.top-menu .btn-make-order:active {
  background-color: #518534;
}

.top-menu a:active svg {
  fill: #6a7180;
}

.top-menu .cart-full {
background-color: #ee3643;
}

.top-menu .cart-full svg {
  fill: rgba(255, 255, 255, 0.6);
}

/* Средняя часть шапки  */

.header-middle .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 45px;

}

.page-header {
  width: 320px;
  flex-shrink: 0;
  margin-right: 0px;
  padding: 0px 60px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;

}

.header-contacts {
  margin-right: 50px;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  color: #32425c;
}

.header-contacts a {
  display: block;
  width: 270px;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 40px;
  color: #ee3643;
  text-align: center;
}

.header-contacts img {
  position: relative;
  right: 40px;
  top: 2px;
}

.site-navigation,
.user-navigation {
  list-style: none;
  padding-left: 0px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  box-sizing: content-box;
  width: 300px;
}


.login-link {
  font-size: 21px;
  color: black;
  text-align: center;
}

.link-sign-in {
  margin-left: 20px;
  width: 120px;
  margin-right: 10px;
}

.link-sign-in svg {
  position: relative;
  right: 5px;
  top: 1px;
}

.link-sign-up {
  width: 150px;
}

.login-link a {
display: block;
padding: 10px 0px;
background-color: white;
text-align: center;
color: black;
}

.login-link svg {
  fill: #c5c5c5;
}


.login-link a:hover,
.profile-navigation a:hover {
  color: #ee3643;
}

.login-link:hover svg,
.logged-in:hover svg {
  fill: black;
}

.logged-in {
  width: 250px;
}

.log-off {
width: 50px;
}



.login-link a:active,
.profile-navigation a:active {
color: rgba(0, 0, 0, 0.302);

}

.login-link a:active svg {
  fill: rgba(0, 0, 0, 0.302);
}


.profile-navigation {
font-size: 16px;
text-decoration: underline;
margin: 10px 13px;
}

.profile-navigation a {
  position: relative;
}

.orders a::after {
  position: absolute;
  right: -15px;
  bottom: 8px;
  content: "";
  display: block;
  background-color: #32425c;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}


/* Главная навигация   */

.site-navigation {
background-color:
width: 100%;
padding-left: 0;
display: flex;
justify-content: flex-start;
}


.site-navigation a {
  display: block;
  padding: 18px 7px ;
  min-width: 120px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  text-align: center;
  box-sizing: content-box;
}

.site-navigation a:hover,
.site-navigation a:focus {
background-color: #293449;
border-bottom-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  border-bottom-color: #1d2739;
  color: rgba(255, 255, 255, 0.6);
}



/* Стили для основного контента сайта */

/*Хлебные крошки */

.breadcrumbs {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 60px;
  text-transform: uppercase;
}

.breadcrumbs ul {
  padding-left: 0px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.breadcrumbs a {
  color: black;
  position: relative;
}

.breadcrumbs svg {
  margin: 0px 15px;
  vertical-align: baseline;
}

.homepage svg {
  margin: 0px;
}


/* Промо-блок   Главная страница*/

.promo {
margin-top: 60px;
}

.promo-features-list {
margin-bottom: 0px;
padding-left: 0px;
list-style:  none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}

.promo-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.promo-features-side {
  margin-left: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.promo-features-side .promo-item,
.slider {
margin: 10px 0px;
}

.promo-item {
  padding-left: 20px;
  position: relative;
  width: 300px;
  height: 123px;
  background-repeat: no-repeat;;
}


.promo-materials {
  background-color: #ffbf47;
  background-image: url("../img/svg/icon-materials.svg");
  background-size: 44px 65px;
  background-position: 210px 31px;
}

.promo-instruments {
background-color: #3bbce3;
background-image: url("../img/svg/icon-instruments.svg");
background-size: 75px 61px;
background-position: 196px 33px;
}

.promo-tech {
  background-color: #dc91d8;
  background-image: url("../img/svg/icon-tech.svg");
  background-size: 78px 62px;
  background-position: 189px 30px;
}

.promo-sale {
  background-color: #8ed78f;
  background-image: url("../img/svg/icon-sale.svg");
  background-size: 59px 72px;
  background-position: 195px 26px;
}

.promo-delivery {
  background-color: #ffbf47;
  background-image: url("../img/svg/icon-delivery.svg");
  background-size: 78px 63px;
  background-position: 191px 32px;
}

.promo-item h2 {
  font-size: 24px;
  line-height: 30px;
  color: white;
}

.btn-promo {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-promo:hover,
.btn-promo:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-promo:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider-btn {
  border: none;
  background-color: transparent;
}

.slides {
  list-style: none;
  padding-left: 0px;
}

.slider {
  position: relative;
  width: 620px;
  max-height: 266px;
}

.slider-btn {
  position: absolute;
  top: 125px;
}

.slider-btn-back {
  left: 20px;
}

.slider-btn-next {
right: 20px;
}

.slider-content {
  margin: 0px;
}

.slider-content figcaption {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 0px;
  color: white;
}

.perfs {
  display: none;
}



.slider-content h2 {
  position: absolute;
  top: 0px;
  left: 25px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
}

.slider-content p {
  width: 300px;
  position: absolute;
  top: 50px;
  left: 25px;
  font-size: 18px;
  line-height: 24px;
}

.slider-content .btn {
  position: absolute;
  width: 185px;
  top: 215px;
  left: 25px;
}


/* Главная страница - блок популярных товаров и брендов*/

.header-popular,
.current-product {
  padding: 16px 30px;
  margin-bottom: 20px;
}

.header-popular {
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f0;
}

.header-popular h2,
.current-product {
  padding-top: 5px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.header-popular .btn {
  width: 250px;
}


.header-popular .btn {
  display: block;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  height: 40px;
}

.popular-brands-list,
.services-toggle {
  list-style: none;
}

.popular-brands-list {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.popular-brands-item {
width: 220px;
height: 140px;
margin-right: 20px;
margin-bottom: 20px;
position: relative;
border: 1px solid #ebebeb;
display: flex;
justify-content: center;
align-items: center;
}

.popular-brands-item:nth-child(4n) {
  margin-right: 0px;
}

.popular-brands-item:active {
  opacity: 0.3;
}

.current-product {
  padding: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}


/* Стили для каталога и блока популярных товаров*/




.catalog-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
}

.catalog-list h3 {
   font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  padding: 0 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item-product a{
color: black;
}

.catalog-item {
  width: 220px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.catalog-item .flag,
.promo-item .flag {
 position: absolute;
 top: -1px;
 right: -1px;
 width: 60px;
 height: 60px;
 text-indent: -1000px;
 overflow: hidden;
 z-index: 20;
}

.promo-item .flag {
  top: 0px;
  right: 0px;
}

.catalog-item .flag-new,
.promo-item .flag-new {
 background-image: url("../img/new-flag.png");
 background-repeat: no-repeat;
 background-position: 0px 0px;
}


.catalog-index .catalog-item:nth-child(4n) {
  margin-right: 0px;
}

.price-old,
.price-current {
   margin: 10px auto;
   padding: 10px 30px;
   font-family:"PT sans", Arial, sans-serif;
   font-size: 17px;
   line-height: 18px;
   text-transform: uppercase;
}

.price-old {
  text-decoration: line-through;
  color: #a9a9a9;
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.price-current {
  width: 140px;
  position: relative;
  margin-bottom: 20px;
  padding-left: 25px;
  color: white;
  background-color: #ee3643;
  border-radius: 3px;
}

.price-current::after {
  position: absolute;
  content: "";

  position: absolute;
  top: 0;
  right: -19px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.no-discount  .price-current {
margin-top: 62px;
}

/*!!!!*/
/* Реализация кнопок кажется дико костыльной, хз что с этим пока делать*/



.btn-buy,
.btn-bookmark {
position: absolute;
display: none;
left: 40px;
margin: 0 auto;
margin-bottom: 7px;
padding: 7px 0;
z-index: 10;
}

.catalog-item:hover > .actions,
.catalog-item:hover .btn-bookmark,
.catalog-item:hover .btn-buy {
  display: block;
}

.actions {
  position: absolute;
  display: none;
  width: 100%;
  height: 40%;
  padding: 40px 0;
  background-color: white;
  z-index: 10;
}

/*....*/

.catalog-list .btn {
  width: 130px;
}

.btn-buy {
  background-color: #63a63e;
  color: white;
  border-bottom: 3px solid #367315;
  border-radius: 3px;
  top: 30px;
}

.btn-bookmark {
  color: black;
  background-color: white;
  border: 3px solid #64a63f;
  border-radius: 3px;
  top: 75px;
}

a:hover.btn-buy,
a:focus.btn-buy {
background-color: #5fbb2d;
}

a:hover.btn-bookmark,
a:focus.btn-bookmark {
  background-color: white;
  color: #32425c;
  border-color: #32425c;
}

a:active.btn-buy {
background-color: #518534;
border-bottom-color: #518534;
}

a:active.btn-bookmark {
border-color: rgba(50, 66, 92, 0.3);
color: rgba(50, 66, 92, 0.3);
}



/* Фильтр на странице каталога */


.filters-catalog-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sort-catalog {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 700px;
}

.sort {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sort-list {
margin: 0px;
padding-left: 0px;
padding-top: 10px;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
}

.sort h3 {
margin: 0px;
width: 150px;
margin-right: 90px;
padding: 10px 20px;

}

.catalog-list-inner{
  padding-top: 50px;
  padding-left: 20px;
}

.catalog-list-inner .catalog-item:nth-child(3n) {
margin-right: 0px;
}

.filters {
  width: 220px;
  display: flex;
  flex-direction: row;
}

.filters-type {
  font-weight: normal;
  display: block;
  width: 100%;
  padding: 10px 20px;
}

.filters-label {
  font-family: "PT Sans", Arial, sans-serif;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.filters form {
  margin-right: 5px;
}

.filters fieldset {
  border: none;
  padding-left: 0px;
}

.brands-filter legend {
  padding-top: 15px;
}

.brands-filter {
  width: 220px;
  position: relative;
  padding-bottom: 20px;
}

.brands-filter::before,
.brands-filter::after {
  position: absolute;
  content: "";
  display: block;
  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
}

.brands-filter::before {
top: 0px;
}

.sort-list,
.filters-list {
  padding-left: 0px;
  list-style: none;
}

.filters-type,
.sort h3,
.sort-option {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
  font-weight: normal;
}

.filter-price-range {
  width: 220px;
  height: 80px;
  margin-bottom: 10px;
}


.sort,
.filter-price-range,
.price-value {
  background-color: #f7f3ec;
}

.price-value {
  width: 95px;
  border: none;
  border-radius: 3px;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.min-price {
  position: relative;
}

.filters span{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 0px 4px;
  margin-right: 5px;
}


.sort-option a {
  display: block;
  width: 120px;
 color: rgba(0, 0, 0, 0.3);
}

.sort-option-how {
  font-size: 0px;
  display: block;
  position: relative;
  width: 20px;
}


.sort-option-how svg {
position: absolute;
left: 50%;
top: 2px;
fill: rgba(0, 0, 0, 0.3);
}

.sort-current a,
.sort-current svg {
  color: #ee3643;
  fill: #ee3643;
}

.sort-option a:hover,
.sort-option a:focus {
  color: black;
}

.sort-option-how svg:hover,
.sort-option-how a:focus > svg {
  fill: black;
}


.filter-option {
  padding-left: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.filter-option::before {

}

.filters-input:disabled ~ label {
  color: rgba(0, 0, 0, 0.4);
}

.btn-submit,
.pagination-item  {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: white;
  color: black;
  border: 1px solid #e5e5e5;
}

 .btn-submit {
  width: 140px;
  margin-top: 110px;
  outline: none;
}

.pagination-list {
  position: relative;
  margin-bottom: 60px;
  left: 360px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.pagination-item:hover,
.pagination-item:focus,
.pagination-item:active {
 color: black;
}

.pagination-item {
  padding: 9px 0;
  margin-right: 10px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  width: 38px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item-current {
  background-color: #ee3744;
  color: white;
}

.pagination-item-next {
  width: 140px;
}


.btn-submit:hover,
.pagination-item:hover,
.btn-submit:focus,
.pagination-item:focus {
  background-color: white;
  border-color: #bdc6ca;
}

.btn-submit:active,
.pagination-item:active  {
  border-color: #ee3744;
  color: black;
}


/*Сервисы, О продукте, О компании*/
.services h2 {
  padding-top: 65px;
}

.services-promo {
  width: 370px;
  margin-bottom: 40px;
}

.services-toggle {
  position: relative;
  padding: 35px 0px;
  margin-right: 70px;
  padding-bottom: 100px;
  width: 240px;
}

.services-toggle::after {
position: absolute;
right: 0px;
top: 0px;
content: "";
display: block;
width: 10px;
height: 272px;
background-image: url("../img/services-shadow.png");
background-position: 50% 50%;
background-repeat: no-repeat;

}

.services-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.service-item {
  padding-top: 0px;
  padding-bottom: 100px;
  width: 700px;
  background-repeat: no-repeat;
}

.service-item-delivery {
 background-image: url("../img/delivery.png");
 background-position: 150px 0%;
}

.service-item-delivery p {
  width: 249px;
}

.service-item-warranty {
  background-image: url("../img/guarantee.png");
  background-position: 150px 0px;
}

.service-item-warranty p {
  width: 340px;
}

.service-item-credit {
  background-image: url("../img/credit.png");
  background-position: 150px 0px;
}

.service-item-credit p {
  margin-bottom: 30px;
}

.service-item-credit .btn {
  display: block;
  width: 195px;
}


.service-item-delivery,
.service-item-warranty,
.service-item-credits {
  display: none;
}

.btn-services {
  width: 240px;
  padding: 15px 20px;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  background-color: #32425c;
  color: white;
  border-left: none;
  border-right: none;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.btn-services:hover {
  background-color: #293449;
  color: white;
}

.btn-services-current {
  background-color: white;
  color: #32425c;
  border: none;
}

.services p,
.index-columns p {
  font-family: "PT Sans" Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}



.services,
.about-product {
  background-color: #f4f7f9;
}

.about-product-container {
  padding-left: 0px;
  padding-top: 60px;
  padding-bottom: 70px;
}

.about-product {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services h2,
.index-columns h2,
.about-product h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: black;
}

.services h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.services-list {
  list-style: none;
}

.index-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 85px;
  padding-top: 52px;
}

.about-us {
  width: 520px;
  flex-shrink: 0;
}

.about-us p {
  margin-bottom: 18px;
}

.delivery-company-list {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 65px;
}

.delivery-company-list li {
  margin-bottom: 20px;
  position: relative;
}


.delivery-company-list li::before {
  position: absolute;
  top: 9px;
  left: -40px;
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}


.contacts {
  padding-right: 0px;
  margin-left: 180px;
  width: 300px;
  flex-shrink: 0;
}

.contacts p {
  width: 180px;
  margin-bottom: 35px;
}

.contacts .btn {
  width: 300px;
  margin-top: 40px;
}

.about-us-delivery {
  width: 390px;
  margin-top: 0px;
}

.modal .btn,
.contacts .btn {
  border: none;
}



/*Стили для подвала*/

/*Подвал - верх*/


.main-footer {
  background-color: #32425c;
}

.footer-top .container {
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  min-height: 193px;
}

.main-footer-logo {
  display: block;
  height: 63px;
  width: 220px;
  margin-bottom: 30px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  box-sizing: content-box;
}


.main-footer-logo img {
position: relative;
top: 21px;
left: 25%;
}

.footer-contacts {
  margin-top: 0px;
  margin-right: 60px;
  width: 330px;
}

.footer-site-navigation,
.footer-store-navigation {
  min-width: 610px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.footer-store-navigation {
  padding-left: 65px;
}

.footer-store-navigation a {
 display: block;

}

.footer-site-navigation a,
 {
  display: block;
  margin-right: 60px;
}



.footer-top a,
.footer-top p {
  color: #f1f5f7;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
  background-color: #ca2c37;
}

.main-footer-logo:active {
background-color: #ba2732;
}

.footer-store-navigation a {
  color: #e0ba79;
}


.main-footer a:hover {
  text-decoration: underline;
}

.footer-store-navigation a:active,
.footer-site-navigation a:active {
  opacity: 0.5;
}




/* Подвал - низ*/

.footer-bottom {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  color: white;
}

.footer-bottom .container {
  padding-left: 0px;
  padding-top: 35px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer-copyright {
  width: 230px;
  flex-shrink: 0;
}

.footer-social ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social-btn {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}

.social-btn-vk {
  margin-left: 155px;
  background-image: url("../img/svg/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-btn-fb {
  background-image: url("../img/svg/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-btn-inst {
  background-image: url("../img/svg/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 130px;
}

.copyright-link:not(:last-child){
  width: 140px;
  margin-right: 60px;
  color: white;
}


.copyright-link a {
 color: #e0ba79;
}

.copyright-link a:active {
  color: #ee3643;
  text-decoration: none;
}


/*Модальные окна*/
.modal-close {
  background-color: transparent;
  border: none;
}

/*Обратная связь*/

.write-us {
  width: 620px;
  height: 420px;
  border-top: 5px solid #ee3643;
  background: #c3c2c1;
}

.write-us .modal-close {
  position: relative;
  top: 5px;
  right: 5px;
}

.modal-close svg {
  fill: #ee3643;
}

.write-us label {
 font-size: 18px;
 line-height: 18px;
}

.write-us input,
.write-us textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
}

.write-us-bottom {
  width: 100%;
  height: 110px;
  background-color: #f4f4f4;
}

.write-us textarea {
  resize: none;
}


/*Карта*/

.modal-map {
box-shadow: 0px 0px 20px black;
}

.modal-map .modal-close {
position: relative;
right: 10px;
top: 5px;
}



